.cantidadContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-top: 1px solid white;
    padding-top: 2em;
}
.cantidadContainer .cantidad {
    display: flex;
    justify-content: space-between;
}
.cantidadContainer .cantidad :first-child{
    font-size:25px ;
    letter-spacing: 1px;
}
.cantidadContainer .numeros {
    display: flex;
    align-items:  center;
    gap: 1.5em;
    padding:.5em 1em;
    border: 1px solid white;
}
.cantidadContainer .numeros :first-child,
.cantidadContainer .numeros :last-child {
    cursor: pointer;
    font-size: 20px;
}
.cantidadContainer button {
    background-color: var(--rojo);
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}