@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --rojo: #e43225;
  --azul-oscuro: #0b0f2c;
  --azul-claro: #11152e ;
}
::-webkit-scrollbar {
  width: .7em;
  background-color: var(--azul-oscuro);
}
::-webkit-scrollbar-thumb {
  background-color: var(--rojo);
  border-radius: 10px;
  border: 2px solid var(--azul-oscuro);
}
.App {
  background-color: #11152e;
}